# MongoDB Connection
MONGO_URI=mongodb+srv://...

# Server Port
PORT=5000

# PhonePe Payment Gateway Credentials
# These will be fetched by the backend and used to securely generate the checksum
PHONEPE_MERCHANT_ID=your_merchant_id
PHONEPE_SALT_KEY=your_salt_key
PHONEPE_SALT_INDEX=1
PHONEPE_ENV=UAT # or PRODUCTION
